.link {
	cursor: pointer;
	text-decoration: underline;
}
.labelNomeJanela {
	font-size: 20px;
	font-weight: bold;
}
.labelNomeBranco {
	color: white;
	font-size: 12px;
	font-family: verdana;
	font-weight: bold;
}
.boxModificada {
	font-family: verdana;
	font-size: 13px;
	color: #EE7600;
	border: 1px groove #9C9C9C;
}
.boxModificada2 {
	font-family: verdana;
	font-size: 13px;
	color: black;
	border: 1px groove #EE7600;
}

.panelFundoLaranja {
	background-color: #EE7600;
}
.panelRodape {
	border: solid #EE7600;
	border-bottom-width: 0;
	border-top-width: 1px;
	border-right-width: 0;
	border-left-width: 0;
	color: #8B8378;
	font-family: verdana;
	font-weight: bold;
}
.panelCadastroCarona {
	background-color: white;
}
.panelMenuUsuario {
	border-style: solid;
	border-bottom-width: 0;
	border-top-width: 0;
	border-right-width: 1px;
	border-left-width: 0;
}
.menu {
	font-size: 13px;
	font-family: Verdana;
}
.menuSelecionado {
	background-color: #EE7600;
}
.labelMenu {
	font-size: 12px;
	font-family: Arial;
	font-weight: bold;
}
.images {
	border: 1px groove black;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-collapse: collapse;
	background-color: #F5F5DC;
}